# Will ignore the specific folder /obsolete/
/obsolete/

# Will ignore scribble code and test code
/scribbles.sage

.DS_Store
__pycache__

#Will ignore vim swap files
*.swp

#Will ognore .pyc files
*.pyc

#Will ignore Sessions
Session.vim

#Will ignore makefiles
Makefile
